{% extends 'layout.twig' %}

{% block title %}
    Ошибка 404
{% endblock %}

{% block content %}
    <div class="col-12 text-center">
        <h1>Ошибка 404!</h1>

        {% if message %}
            <div class="lead">{{ message }}</div>
        {% endif %}
    </div>
{% endblock %}
