{% if session.flash.errors is defined %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for error in session.flash.errors %}
            <div>{{ error }}</div>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

{% if session.flash.success is defined %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <div>{{ session.flash.success }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
