<nav>
    <ul class="pagination">
        {% for page in pages %}
            {% if page.separator %}
                <li class="page-item disabled" aria-disabled="true"><span class="page-link">...</span></li>
            {% elseif page.current %}
                <li class="page-item active"><span class="page-link">{{ page.name }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page.page }}">{{ page.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
