a {
    color: #297dad;
    text-decoration: none;
}

.body {

}

.app {
    background-color: #f9f9fb;
}

.app-title {
    padding-bottom: 1rem;
}

.app-title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.section {
    border: 1px solid #f3f3f3;
    background: #fff;
    border-radius: 5px;
}

.message {
    overflow-wrap: break-word;
}

.breadcrumb {
    margin-bottom: 0;
    font-size: 13px;
    padding: 0;
    text-align: left;
    background-color: transparent;
    margin-top: 10px;
}

.media-file {
    max-width: 600px;
    margin-bottom: 1rem;
}

.spoiler {
    margin-bottom: 5px;
}

.spoiler:before {
    content: "\F231";
    font-family: "bootstrap-icons";
    color: #bbb;
    vertical-align: -0.2em;
}

.spoiler.spoiler-open:before {
    content: "\F229";
}

.spoiler-title {
    border-bottom: 1px dashed;
    color: #6da3bd;
    cursor: pointer;
    font-weight: normal;
}

.spoiler-text {
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #f7f7f9;
}

.hidden-text {
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #f7f7f9;
}

.post-rating-up.active {
    color: #fff;
    background-color: #78c062;
    padding: 0 3px;
    display: inline-block;
    border-radius: 3px;
}

.post-rating-down.active {
    color: #fff;
    background-color: #f75c48;
    padding: 0 3px;
    display: inline-block;
    border-radius: 3px;
}

.cursor-pointer {
    cursor: pointer;
}

textarea.form-control {
    resize: vertical;
}

.blockquote:before {
    content: "\F6B0";
    line-height: 1.0em;
    font-size: 130%;
    font-family: "bootstrap-icons";
    font-weight: 900;
    float: left;
    margin-right: 10px;
    color: #c73401;
}

.blockquote {
    padding: 8px 15px;
    font-size: 95%;
    background:#f7f7f9;
    border-left: 5px solid #ddd;
    font-style:italic;
}

.blockquote-footer {
    margin: 0;
}

.avatar-default {
    color: #fff;
    display: inline-block;
    font-size: 42px;
    font-weight: 700;
    height: 64px;
    text-align: center;
    text-decoration: none;
    width: 64px;
}

.avatar-micro>.avatar-default {
    font-size: 14px;
    height: 20px;
    width: 20px;
}

@media (max-width: 768px) {
    .pagination .page-item:first-child .page-link {
        border-top-left-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;
    }
    .pagination .page-link {
        padding: 0.25rem 0.5rem;
        font-size: 0.7875rem;
        line-height: 1.5;
    }
}
